<div class="burger">
    <div class="hamburger hamburger--spin">
        <div class="hamburger-box">
        <div class="hamburger-inner"></div>
        </div>
    </div>
	<div class="burger__content">
        <ul>
            <li>Lorem</li>
            <li>Lorem 2</li>
            <li>Lorem 3</li>
            <li>Lorem 4</li>
            <li>Lorem 5</li>
        </ul>
    </div>
</div>
