<div class="floating-banner">
	<div class="floating-banner__line"></div>
	<div class="floating-banner--text-block">
		<h1>Lorem ipsum dolor sit amet.</h1>
		<h3>Lorem, ipsum dolor.</h3>
	</div>
	<div class="floating-banner__line"></div>
</div>
