<div class="header">
    <button class="hamburger hamburger--spin" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
    </button>  
	<div class="social">
		<span class="social__text">Lorem, ipsum dolor.</span>
		<img src='https://placehold.it/50x50' alt='' class="social__image"/>
		<img src='https://placehold.it/50x50' alt='' class="social__image"/>
	</div>
</div>


<div class="hamburger__content">
    <ul>
        <li>Lorem</li>
        <li>Lorem 2</li>
        <li>Lorem 3</li>
        <li>Lorem 4</li>
        <li>Lorem 5</li>
    </ul>
</div>

{# @TODO: move this in the approriate location #}
<script>
    var burger = document.querySelectorAll(".hamburger");
    burger[0].addEventListener("click", function() {
        this.classList.toggle("is-active");
    }, false);
</script>
