{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
    {% include '/front/partials/header.html.twig' %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/vagrant/beauty/src/Controller/FrontController.php'|file_link(0) }}">src/Controller/FrontController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/vagrant/beauty/templates/front/index.html.twig'|file_link(0) }}">templates/front/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
