{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
    {% include '/front/partials/header.html.twig' %}
    {# {% include '/front/partials/floating_banner.html.twig' %} #}
    <div class="homepage">
        <div class="homepage__banner"></div>
        <div class="homepage__blocks">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
        </div>
        <div class="homepage__perks">
            <div class="perk">
                <div class="perk__image">
                    <img src='https://placehold.it/150x150' alt=''/>
                </div>
                <div class="perk__text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, natus!
                </div>
            </div>
            <div class="perk">
                <div class="perk__image">
                    <img src='https://placehold.it/150x150' alt=''/>
                </div>
                <div class="perk__text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, natus!
                </div>
            </div>
            <div class="perk">
                <div class="perk__image">
                    <img src='https://placehold.it/150x150' alt=''/>
                </div>
                <div class="perk__text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, natus!
                </div>
            </div>
        </div>
    </div>
{% endblock %}
